#image{
	margin-top: 250px;
    margin-left: 10px;
	box-shadow: 5px 5px 5px 5px gray;
	width: 60px;;
	padding: 20px;
	font-weight: 400;
	padding-bottom: 0px;
	height: 40px;
	user-select: none;
	text-decoration:line-through;
	font-style: italic;
	font-size: x-large;
	border: rgb(11, 159, 233) 2px solid;
	
}
#user-input{
	box-shadow: 5px 5px 5px 5px gray;
	width:auto;
	margin-right: 10px;
    margin-left: 550px;
	padding: 10px;
	padding-bottom: 0px;
	height: 40px;
	border: red 0px solid;
}
input{
	border:1px black solid;
}
.inline{
	display:inline-block;
}
#btn{
	box-shadow: 5px 5px 5px grey;
	color: rgb(236, 39, 59);
	margin: 10px;
	background-color: rgb(6, 222, 96);
}
#btn:hover{
    box-shadow: 0 0 5px rgb(40, 250, 3),
    0 0 25px rgb(28, 252, 3), 0 0 50pc rgb(5, 254, 55),
    0 0 100px rgb(35, 248, 2), 0 0 200px rgb(7, 246, 3);
  }
